/* register */
.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
}

.auth-form {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bs-gray-100);
  border: 1px solid #5e5e5e31;
}

.auth-footer {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #5e5e5e31;
}
